<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1-Two_Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>11-Container_With_Most_Water.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>15-3Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>16-3Sum_Closest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>18-4Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>26-Remove_Duplicates_from_Sorted_Array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>27-Remove_Element.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>31-Next_Permutation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>33-Search_in_Rotated_Sorted_Array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>34_Search_for_a_Range.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>35-Search_Insert_Position.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>4-Median_of_Two_Sorted_Arrays.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4130D9A1D40AA9600AB673F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4130DA81D40AC0C00AB673F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4130DB31D40BE9800AB673F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB83D1D45BB150058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB8481D45E77B0058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB8531D46EA390058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB85E1D4729B90058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB8691D4743510058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB8741D4836B10058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D85DB71D41DF540092E613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D85DC21D41ED7A0092E613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D85DCD1D438B600092E613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D85DD91D443F430092E613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
