<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1-Two_Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>11-Container_With_Most_Water.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>15-3Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>16-3Sum_Closest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>18-4Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>19-Remove_Nth_Node_From_End_of_List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>2-Add_Two_Numbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>21-Merge_Two_Sorted_Lists.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>26-Remove_Duplicates_from_Sorted_Array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>27-Remove_Element.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>3-Longest_Substring_Without_Repeating_Characters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>30-Substring_with_Concatenation_of_All_Words.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>31-Next_Permutation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>32_Longest_Valid_Parentheses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>33-Search_in_Rotated_Sorted_Array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>34_Search_for_a_Range.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>35-Search_Insert_Position.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>36-Valid_Sudoku.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>37-Sudoku_Solver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>39-Combination_Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>4-Median_of_Two_Sorted_Arrays.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>40-Combination_Sum_II.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>41-First_Missing_Positive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>42-Trapping_Rain_Water.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>45-Jump_Game_II.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>48-Rotate_Image.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>49-Group_Anagrams.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>53-Maximum_Subarray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>54-Spiral_Matrix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>76-Minimum_Window_Substring.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>84-Largest_Rectangle_in_Histogram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>85-Maximal_Rectangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>94-Binary_Tree_Inorder_Traversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4130D9A1D40AA9600AB673F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4130DA81D40AC0C00AB673F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4130DB31D40BE9800AB673F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C419D2421D4B244B000B4F20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C419D24D1D4B3AEC000B4F20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C419D2581D4B6A63000B4F20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C419D2631D4DDEE7000B4F20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C419D2911D4EF604000B4F20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4209A271D532F80009DB1E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C42A7B1F1D864E400039DE1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C438E2B51D48973D00DDA9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C438E2C01D49CADF00DDA9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C438E2CB1D49ED7B00DDA9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C43C86C21D5B10E300D3712C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C43C86CE1D5D5B4E00D3712C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB83D1D45BB150058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB8481D45E77B0058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB8531D46EA390058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB85E1D4729B90058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB8691D4743510058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB8741D4836B10058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB87F1D4856A50058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44BB8951D4887D80058B979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C45237181D5848BE00205120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4635AE71D7BC5830012CD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4635AF21D7C17EE0012CD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4A043111D890B2000551755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4A0431C1D89164300551755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4ADC0391D572CD7000F647B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D85DB71D41DF540092E613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D85DC21D41ED7A0092E613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D85DCD1D438B600092E613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D85DD91D443F430092E613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4FC33C11D52C114001B5F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
